@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: url("fonts/Quicksand-Regular.eot");
  src: local("☺"), url("fonts/Quicksand-Regular.woff") format("woff"), url("fonts/Quicksand-Regular.ttf") format("truetype"), url("fonts/Quicksand-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.button {
  font-size: 12px;
  font-weight: bold;
}
.button__link {
  padding: 9px 20px 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-stretch: ultra-expanded;
  border-radius: 22px;
}
.button__enter {
  width: 87px;
  height: 34px;
  border: double 2px transparent;
  border-radius: 22px;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF, #8BA4F9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.button__link-enter {
  padding: 10.5px 21.5px;
  display: inline-block;
  margin: -2px 0 0 -2px;
  color: #BC9CFF;
}
.button__link-enter:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button__link-activation {
  color: #fff;
  background-image: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}
.button__link-activation:hover {
  background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
}

.header {
  padding: 15px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__nav {
  display: flex;
  min-width: 66.3%;
  align-items: center;
  justify-content: space-between;
}
.header__link {
  position: relative;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
.header__link:hover {
  color: #BC9CFF;
}
.header__link-dropdown {
  padding: 0 24px 0 10px;
}
.header__dropdown-icon {
  position: absolute;
  top: -3px;
}
.header__link--active {
  color: rgba(31, 32, 65, 0.75);
  font-weight: 700;
}