doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
    body
        header.header
            .header__logo
                img(src="src/img/logo.png", alt="logo")
            .header__nav
                ul.header__list
                    li.header__list-item О нас
                    li.header__list-item Услуги
                    li.header__list-item Вакансии
                    li.header__list-item Новости
                    li.header__list-item Соглашения

              