include  ../../includes/head.pug
title Colors_and_type 
link(rel="stylesheet", href="colors_and_type.css")

.container 
        ul.color-list 
                li.color-list__item
                        span.color-list__sample.color-list__sample-first
                        h2.color-list__title Dark Shade 100%
                        p.color-list__hex-code #1F2041
                li.color-list__item
                        span.color-list__sample.color-list__sample-second
                        h2.color-list__title Dark Shade 75%
                        p.color-list__hex-code #1F2041
                li.color-list__item
                        span.color-list__sample.color-list__sample-third
                        h2.color-list__title Dark Shade 50%
                        p.color-list__hex-code #1F2041
                li.color-list__item
                        span.color-list__sample.color-list__sample-fourth
                        h2.color-list__title Dark Shade 25%
                        p.color-list__hex-code #1F2041
                li.color-list__item
                        span.color-list__sample.color-list__sample-fifth
                        h2.color-list__title Dark Shade 5%
                        p.color-list__hex-code #1F2041
                li.color-list__item
                        span.color-list__sample.color-list__sample-sixth
                        h2.color-list__title Purple
                        p.color-list__hex-code #BC9CFF
                li.color-list__item
                        span.color-list__sample.color-list__sample-seventh 
                        h2.color-list__title Green
                        p.color-list__hex-code #6FCF97

