doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Document
    body
    h1 Lorem ipsum dolor sit amet consectetur adipis
    ul
        li 1
        li 2
        li 3           
             

