<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxin</title>
    <link rel="stylesheet" href="../../../src/app/styles/css/main.css">
  </head>
  <body>
    <header class="header">
      <div class="container"> 
        <div class="header__contant">
          <div class="header__logo logo"> <a href="#"> <img class="header__logo-img" src="../../../src/app/img/logo.svg" alt="logo"></a></div>
          <div class="header__nav"><a class="header__link header__link--active" href="#">О нас</a><a class="header__link header__link-dropdown" href="#">Услуги</a><a class="header__link" href="#">Вакансии</a><a class="header__link" href="#">Новости</a><a class="header__link header__link-dropdown" href="#">Соглашения </a>
            <div class="header__button button"> <a class="button__link button__link-enter" href="#">Войти</a></div>
            <div class="header__button button"> <a class="button__link button__link-create" href="#">Зарегистрироваться  </a></div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>