@import '../../../app/styles/scss/reset.scss';
@import '../../../app/styles/scss/fonts.scss';
@import '../../../app/styles/scss/template.scss';

$main-color: #1F2041;
$font-size: 19px;


.logo-colorless {
  padding: 30px;
}


.colors_and_type {
  height: 610px;
  display: flex;
  justify-content: space-between;
}

.color-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  &__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: $font-size;
  letter-spacing: 0.5px;
  padding-left: 110px;
  }
  &__sample {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    &-first {
      background-color: $main-color;
    }
    &-second {
      background-color: transparentize($main-color, 0.25);
    }
    &-third {
      background-color: transparentize($main-color, 0.5);
    }
    &-fourth {
      background-color: transparentize($main-color, 0.75);
    }
    &-fifth {
      background-color: transparentize($main-color, 0.95);
    }
    &-sixth {
      background-color: #BC9CFF;
    }
    &-seventh {
      background-color: #6FCF97;
    }
  }
}


h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}


.colors_and_type {
  max-width: 1132px;
  margin: auto;
}




.text-sample__item {
  display: flex;
  max-width: 440px;
  margin-bottom: 51px;
}

.text-sample__title {
  color:rgba(31, 32, 65, 0.25);
  width: 40px;
  text-align: right;
  flex-shrink: 0;
}

.text-sample__text {
  margin-left: 30px;
}

.text-sample__title-first {
  font-size: 24px;
}

.text-sample__title-second {
  font-size: 19px;
}

.text-sample__title-third {
  font-size: 12px;
}


