* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../fonts/Montserrat-Regular/Montserrat-Regular.eot);
  src: local("Montserrat-Regular"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.woff) format("woff"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.ttf) format("truetype"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url(../../fonts/Quicksand-Regular/Quicksand-Regular.eot);
  src: local("Quicksand-Regular"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.woff) format("woff"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.ttf) format("truetype"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../../fonts/Montserrat-Regular/Montserrat-Regular.eot);
  src: local("Montserrat-Regular"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.woff) format("woff"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.ttf) format("truetype"), url(../../fonts/Montserrat-Regular/Montserrat-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url(../../fonts/Quicksand-Regular/Quicksand-Regular.eot);
  src: local("Quicksand-Regular"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.woff) format("woff"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.ttf) format("truetype"), url(../../fonts/Quicksand-Regular/Quicksand-Regular.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 80.556%;
  margin: auto;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
}

.logo-colorless {
  padding: 30px;
}

.colors_and_type {
  height: 610px;
  display: flex;
  justify-content: space-between;
}

.color-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.color-list__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 19px;
  letter-spacing: 0.5px;
  padding-left: 110px;
}
.color-list__sample {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 6px;
}
.color-list__sample-first {
  background-color: #1F2041;
}
.color-list__sample-second {
  background-color: rgba(31, 32, 65, 0.75);
}
.color-list__sample-third {
  background-color: rgba(31, 32, 65, 0.5);
}
.color-list__sample-fourth {
  background-color: rgba(31, 32, 65, 0.25);
}
.color-list__sample-fifth {
  background-color: rgba(31, 32, 65, 0.05);
}
.color-list__sample-sixth {
  background-color: #BC9CFF;
}
.color-list__sample-seventh {
  background-color: #6FCF97;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.colors_and_type {
  max-width: 1132px;
  margin: auto;
}

.text-sample__item {
  display: flex;
  max-width: 440px;
  margin-bottom: 51px;
}

.text-sample__title {
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
  text-align: right;
  flex-shrink: 0;
}

.text-sample__text {
  margin-left: 30px;
}

.text-sample__title-first {
  font-size: 24px;
}

.text-sample__title-second {
  font-size: 19px;
}

.text-sample__title-third {
  font-size: 12px;
}