ul.color-list 
        li.color-list__item
                span.color-list__sample.color-list__sample-first
                .color-list__name
                        h2.color-list__title Dark Shade 100%
                        p.color-list__hex-code #1F2041
        li.color-list__item
                span.color-list__sample.color-list__sample-second
                .color-list__name
                        h2.color-list__title Dark Shade 75%
                        p.color-list__hex-code #1F2041
        li.color-list__item
                span.color-list__sample.color-list__sample-third
                .color-list__name
                        h2.color-list__title Dark Shade 50%
                        p.color-list__hex-code #1F2041
        li.color-list__item
                span.color-list__sample.color-list__sample-fourth
                .color-list__name
                        h2.color-list__title Dark Shade 25%
                        p.color-list__hex-code #1F2041
        li.color-list__item
                span.color-list__sample.color-list__sample-fifth
                .color-list__name
                        h2.color-list__title Dark Shade 5%
                        p.color-list__hex-code #1F2041
        li.color-list__item
                span.color-list__sample.color-list__sample-sixth
                .color-list__name
                        h2.color-list__title Purple
                        p.color-list__hex-code #BC9CFF
        li.color-list__item
                span.color-list__sample.color-list__sample-seventh 
                .color-list__name
                        h2.color-list__title Green
                        p.color-list__hex-code #6FCF97

