include  ../../includes/head.pug
title Colors_and_type 
link(rel="stylesheet", href="colors_and_type.css")

body
    .logo-colorless
        img.logo-colorless__img(src="../../../../src/app/img/logo-colorless.svg", alt="logo")
    .container 
        .colors_and_type
            include colors
            include type 