include  ../../includes/head.pug
link(rel="stylesheet", href="colors_and_type.css")

ul.text-sample
    li.text-sample__item 
        span.text-sample__title H1 
        h1.text-sample__contant This one is the sub-section or widget title
    li.text-sample__item 
        span.text-sample__title H2 
        h2.text-sample__contant Next one is the item title inside widgets
    li.text-sample__item 
        span.text-sample__title H3 
        h3.text-sample__contant This is a label or CTA text
    li.text-sample__item 
        span.text-sample__title Body 
        .text-sample__contant This is the body text which is used for most of the design, like paragraphs, lists, etc.