<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxin</title>
    <link rel="stylesheet" href="../../../src/app/styles/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
  </head>
  <body>
    <header class="header">
      <div class="container"> 
        <div class="header__content">
          <div class="header__logo logo"> <a href="#"> <img class="header__logo-img" src="../../../src/app/img/logo.svg" alt="logo"></a></div>
          <div class="header__nav"><a class="header__link header__link--active" href="#">О нас</a><a class="header__link header__link-dropdown" id="header__dropdown-services" href="#">Услуги<span class="header__dropdown-icon material-icons">keyboard_arrow_down</span></a><a class="header__link" href="#">Вакансии</a><a class="header__link" href="#">Новости</a><a class="header__link header__link-dropdown" id="header__dropdown-contracts" href="#">Соглашения <span class="header__dropdown-icon material-icons">keyboard_arrow_down</span></a>
            <div class="header__button button"> 
              <div class="button__enter"><a class="button__link button__link-enter" href="#">Войти</a></div>
            </div>
            <div class="header__button button"> <a class="button__link button__link-create" href="#">Зарегистрироваться  </a></div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>