doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
        link(rel="stylesheet", href="C:/Users/Viktoriya/Desktop/www/project/src/app/styles/css/main.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")
    body
        header.header
            .container 
                .header__contant
                    .header__logo.logo 
                        a(href="#") 
                            img.header__logo-img(src="C:/Users/Viktoriya/Desktop/www/project/src/app/img/logo.png", alt="logo")
                    .header__nav
                        a.header__link(href="#")  О нас
                        a.header__link(href="#") Услуги
                        a.header__link(href="#") Вакансии
                        a.header__link(href="#") Новости
                        a.header__link(href="#") Соглашения 
                        button.header__button.button Войти
                        button.header__button.button Зарегистрироваться  