<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toxin</title>
    <link rel="stylesheet" href="C:/Users/Viktoriya/Desktop/www/project/src/app/styles/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="container"> 
        <div class="header__contant">
          <div class="header__logo logo"> <a href="#"> <img class="header__logo-img" src="C:/Users/Viktoriya/Desktop/www/project/src/app/img/logo.png" alt="logo"></a></div>
          <div class="header__nav"><a class="header__link" href="#"> О нас</a><a class="header__link" href="#">Услуги</a><a class="header__link" href="#">Вакансии</a><a class="header__link" href="#">Новости</a><a class="header__link" href="#">Соглашения </a>
            <button class="header__button button">Войти</button>
            <button class="header__button button">Зарегистрироваться  </button>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>