doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
        link(rel="stylesheet", href="../../../src/app/styles/css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Icons")
    body
        header.header
            .container 
                .header__content
                    .header__logo.logo 
                        a(href="#") 
                            img.header__logo-img(src="../../../src/app/img/logo.svg", alt="logo")
                    .header__nav
                        a.header__link.header__link--active(href="#") О нас
                        a.header__link.header__link-dropdown#header__dropdown-services(href="#") Услуги
                            span.header__dropdown-icon.material-icons keyboard_arrow_down
                        a.header__link(href="#") Вакансии
                        a.header__link(href="#") Новости
                        a.header__link.header__link-dropdown#header__dropdown-contracts(href="#") Соглашения 
                            span.header__dropdown-icon.material-icons keyboard_arrow_down
                        .header__button.button 
                            .button__enter
                                 a.button__link.button__link-enter(href="#") Войти
                        .header__button.button 
                            a.button__link.button__link-create(href="#") Зарегистрироваться  