@import 'reset';
@import 'fonts';
@import 'template';

.header {
  padding: 15px 0;
  &__content {
   display: flex; 
   justify-content: space-between;  
   flex-wrap: wrap;
  }
  &__nav {
    display: flex;
    min-width: 66.3%;
    align-items:center;
    justify-content: space-between;
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    &:hover {
      color: #BC9CFF;
    }
  }
  &__link-dropdown {
    padding: 0 24px 0 10px;
  }
  &__dropdown-icon  {
    position: absolute;
    top: -3px;
  }

  &__link--active {
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
  }
}

