@import './fonts.scss';
@import './reset.scss';

$font-family: 'Montserrat-Regular', sans-serif;
$font-size: 14px;
$font-weight: 400;
$container-weight: 80.556%;

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
  }
  
.container {
  max-width: $container-weight;
  margin: auto;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
}
  

  
  