include  ../includes/head.pug
body
    mixin list(name, number)
          li.list__item= name, number

    ul
        +list(Dark Shade 100%, #1F2041)
        +list(Dark Shade 100%, #1F2041)
        +list(Dark Shade 100%, #1F2041)

