include  ../includes/head.pug
body
    mixin color-list__item(name)
            li.color-list__item= name

    ul.color-list 
         +color-list__item("Dark Shade 100%, #1F2041")
         +color-list__item("Dark Shade 75%, #1F2041")
         +color-list__item("Dark Shade 50%, #1F2041")
         +color-list__item("Dark Shade 25%, #1F2041")
         +color-list__item("Dark Shade 5%, #1F2041")
         +color-list__item("Purple, #BC9CFF")
         +color-list__item("Green, #6FCF97")

